* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-junuary,
.container-february,
.container-march,
.container-april,
.container-may,
.container-june,
.container-july {
  text-align: center;
  width: 300px;
}

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

li {
  text-align: right;
}

.junuary__first--day {
  grid-column-start: 5;
}

.february__first--day,
.march__first--day {
  grid-column-start: 1;
}

.april__first--day {
  grid-column-start: 4;
}

.may__first--day {
  grid-column-start: 6;
}

.june__first--day {
  grid-column-start: 2;
}

.july__first--day {
  grid-column-start: 4;
}

.day-name {
  background: #eee;
  font-weight: bold;
  text-align: center;
}
